@{
    ViewBag.Title = "Login Failure";
}
<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
<div class="divLogin">
    <div class="body">
        <h2 style="text-align:center">@ViewBag.Title</h2>
        <hr class="hr"/>
        <h3 class="text-error">Unsuccessful login with service</h3>
     </div>
</div>
